
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
@theme {
    --font-bricolage:"Bricolage Grotesque",sans-serif;
    --font-dmSans:'DM Sans', sans-serif
}
::-webkit-scrollbar{
    background-color: #262626;
    width: 7px;
    height: 2px;

}
::-webkit-scrollbar-track{
    border-radius: 90px;
}
::-webkit-scrollbar-thumb{
    background-color: #404040;
    min-width: 100px;
    border-radius: 80px;

}